doctype html
html(lang="pl")
    head
        meta(chartset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="Quizarre"
        style
            include ../public/stylesheets/reset.css
            include ../public/stylesheets/main.css
            include ../public/stylesheets/part2.css
        link(href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet")

    body
        h1="Quiz zakończony"
        a(href=`../../../stats/${id}/${user}`)="Zobacz statystyki"
        p(style="display:none;" id="result")=result 